{% extends 'projects/wiki_list.html' %}
{% load static %}


{% block content %}
<form id="create" class="pt-3 pe-3" method="post" action="{% url 'projects:wiki_update' request.project.id  wiki_object.id %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="mb-3">
            <label for="{{field.id_for_label}}" class="form-label">{% if field.name == 'parent' %}上级文章{% else %}{{field.label}}{% endif %}</label>
            {{field}}
            <span id="{{field.id_for_label}}" class="err_message">{{field.errors.0}}</span>
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">提交</button>
</form>
{% endblock %}